header {
    background-color: #f8f8f8;
    height: 50px;
    color: #000;
}

footer {
    padding: 15px 0;
    height: 57px;
    background-color: #f8f8f8;
    position: fixed;
    bottom: 0px;
    display: block;
    width: 100%;
}


/* ------------------------------------- */


/* Login*/

#btn_back_show_all_product,
#btn_login {
    text-decoration: none;
    color: #000;
    font-weight: 800;
}

#btn_login {
    float: right;
}

#btn_login:hover,
#btn_back_show_all_product:hover {
    color: #20B2AA;
}


/* ------------------------------------- */


/* Show all product*/

#btn_add_new_product_show_all_product {
    background-color: #20B2AA;
}

#btn_add_new_product_show_all_product:hover {
    color: #fff
}

#tbody_show_all_product img {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    display: block;
}

#btn_edit_show_all_product,
#btn_del_show_all_product {
    background-color: #20B2AA;
}

#btn_edit_show_all_product:hover,
#btn_del_show_all_product:hover {
    color: #fff;
}

#card_body_show_all_product a {
    text-decoration: none;
    color: #000;
}


/* ------------------------------------- */


/* Show all category*/

#btn_add_category_show_all_category {
    background-color: #20B2AA;
    border: 0px;
    color: black;
}


/* ------------------------------------- */


/* Add category*/

#btn_add_category_add_category {
    padding: 5px;
    background-color: #20B2AA;
    border-radius: 6px;
    border: 0px;
}

#btn_add_category_add_category:hover {
    background-color: #20B2AA;
}


/* ------------------------------------- */


/* Edit category*/

#btn_edit_category_name {
    background-color: #20B2AA;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px;
}

#btn_back_edit_category {
    padding: 10px;
    background-color: #20B2AA;
    border: 0px;
    border-radius: 5px;
}